@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");

/*GENERAL STYLE*/

html {
    font-size:13px;
}
img {
    max-width:100%;
}
body {
    font-family: "Lato", sans-serif;
}
.title,
.design-item-title {
    color: #2d3950;
}

p {
    color: #999;
    margin-bottom: 0;
}

/*HEADER STYLE*/

.navbar {
    padding:0.5rem 0;
}
.navbar-light .navbar-brand {
    color: #2d3950;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.25;
}
.navbar-light button.hamburger,
.navbar-light button.hamburger:focus {
    outline: none;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #000;
    /*    font-weight: 700;*/
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    text-align:center;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #15a4fa;
}
/*.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #000;
}*/

/*MAIN STYLE*/

.strict {
    padding:50px 0 50px;
    background-size: cover;
    background-position:center;
}
.strict h1 {
    font-weight:700;
}
.strict h1:after {
    display:block;
    content:'';
    height:2px;
    background-color: #15a4fa;
    width: 100%;
    margin: 15px auto;
}
.strict p.lead {
    color:#fff;
}
button[type="button"].btn,
button[type="submit"].btn {
    color:#fff;
    border-color: #15a4fa;
    font-size:1.2rem;
    outline:none;
    padding: 12px 30px;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.05rem #48BAFF;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #15a4fa;
    border-color: #15a4fa;
}
.strict button:hover {
    background: #15a4fa;
}

